.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description {
    font-size: 12px;
    margin-top: -20px;
}
#temperature {
    font-size: 32px;
}
.container {
    width: 500px;
    height: 800px; 
}
.label {
    margin-left: 10px;

}

.navbar-brand {
    font-weight: bold;
}

.autocomplete {
    position: relative;
    width: fit-content;
    z-index: 1000;
}

