.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description {
    font-size: 12px;
    margin-top: -20px;
}
#temperature {
    font-size: 32px;
}
.container {
    width: 100%;
    height: 500px; 
    background-image: url('../assets/weather-backgroung.jpeg');
    background-size: cover;
}
.label {
    margin-left: 10px;

}

.navbar {
    width: 100%;
}

.navbar-brand {
    font-weight: bold;
}

.autocomplete {
    position: relative;
    width: fit-content;
    z-index: 1000;
}
